* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav li, nav ul {
    display: inline;
    margin: 10px;
}
.jumbotron_returnal{
    width: 100%;
    height: 675px;
    background-image: url("img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    color: white;
    margin-bottom: 20px;
}
#returnal-logo {
    width: 60%;
}

#red-b {
    border-radius: 100px;
    border-color: red;
    background-color: red;
}
.blu-b {
    border-radius: 100px;
    border-color: blue;
    background-color: blue;
}
.carosello {
    width: 100%;
}
.w-100 {
    width: 100%;
}
.w-20 {
    width: 20%;
}
.take-two {
    width: 100%;
    height: 675px;
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    color: white;
}
